// EL MAIN SOLO PARA TRANSPORTAR ARCHIVOS - SIMPLEMENTE ESO
// SASS TE ENTREGA CONTROL = ESCALABILIDAD & PROLIJIDAD

//  BASE 
@use "./base/reset";
@use "./base/globals";
@use "./base/variables";

//  UTILIDADES 
@use "./utilidades/mixins";
@use "./utilidades/extend";

//  COMPONENTES 
@use "./componentes/header";
@use "./componentes/footer";
@use "./componentes/botones";
@use "./componentes/home";