@use "./variables" as variables;

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: variables.$color-light;
    color: variables.$color-dark;
}

a {
    text-decoration: none;
}