//LLAMAR CUANDO ALGO SE VA REPETIR EN VARIOS LUGARES - CAJA DE ZAPATOS

//COLORES
$color-primary: #0a60b6;
$color-secondary: #dd1818;
$color-dark: #18181d;
$color-light: #ffffff;

//TYPO & SIZESS
$font-base: 16px;
$max-width: 1200px;