@use "../base/variables";

// TODO LO DEL FOOTER
footer {
    margin-top: 3rem;
    background-color: variables.$dark;
    color: variables.$white;
}

.footer-content {
    padding: 2rem 0;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin: 0.5rem 0;
}

.footer-links a {
    color: variables.$white;
    text-decoration: none;
}

.footer-links a:hover {
    opacity: 1;
    text-decoration: underline;
}


.social-links a {
    font-size: 1.4rem;
    margin-right: 0.75rem;
    color: variables.$white;
    transition: opacity 0.2s ease;
}

.social-links a:hover {
    opacity: 0.85;
}


.footer-bottom {
    text-align: center;
    margin-top: 1.5rem;
    padding-top: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    
}
