@use "../base/variables";
@use "../utilidades/mixins";

header {
    background-color: variables.$color-dark;
    padding: 15px 0;

    nav {
        @include mixins.container();
        @include mixins.modo-flex(row, space-between, center);

        .nav-logo {
            @include mixins.modo-flex(row, center, center);
            gap: 10px;

            h1 {
                color: variables.$color-light;
                font-size: 22px;
            }
        }

        ul {
            @include mixins.modo-flex(row, center, center);
            gap: 20px;

            li {
                list-style: none;

                .li-link {
                    color: variables.$color-light;
                    font-weight: 600;
                    transition: .2s;

                    &:hover {
                        color: variables.$color-primary;
                    }
                }
            }
        }
    }
}
