@use "../utilidades/mixins";
@use "../utilidades/extend";
@use "../base/variables";

.hero {
    @include mixins.container();
    @include mixins.modo-flex(row, space-between, center);
    padding: 60px 0;

    &__content {
        width: 50%;

        h2 {
            font-size: 28px;
            font-weight: 700;
            color: variables.$color-dark;
            margin-bottom: 12px;
        }
 
        p {
            font-size: 16px;
            margin-bottom: 18px;
        }

        .btn {
            @extend %boton-base;
        }

        .btn--primary {
            background: variables.$color-primary;
            color: white;

            &:hover {
                background-color: darken(variables.$color-primary, 8%);
            }
        }
    }

    &__image img {
        width: 280px;
    }
}