//MIXIN SON MOLDES PARA AHORRARNOS TIEMPO Y DESPERCIO DE RECURSOS 
//= PROLIJO - MAS EFICIENTE (LO QUE ENTRA EN PARENTESIS ES LO QUE VA IR CAMBIANDO)
//BLOQUE VARIABLE
@use "../base/variables";

@mixin modo-flex($dir, $justify, $align) {
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
    align-items: $align;
}

@mixin container {
    width: 90%;
    max-width: variables.$max-width;
    margin: 0 auto;
}

@mixin title {
    font-size: 24px;
    font-weight: 700;
}

@mixin breakpoint($size) {
    @media (max-width: $size) {
        @content;
    }
}
